<main>
    <p id="notice"></p>
    <div class='container'>
      <div class="col-md-2 col-md-offset-5">
        <div class="center-block">
          <big><big><big><big><big><big><big><big><big><big>
          About
          </big></big></big></big></big></big></big></big></big>
        </div>
      </div>  
          <big><big><big>
          ながのCAKEは全国発送可能なケーキ屋さんです。<br>
          お年寄りから子供までお召し上がりいただけるよう、<br>
          様々なバリエーションを閲覧頂けます。
          <br>また、全国に発送可能ですので、いつでもどこでもご注文頂けます。<br>
          ぜひ、ご注文ください。
          </br></br></br></br>
          </big></big></big>
    </div>
</main>