
<!DOCTYPE html>
<html lang="ja-JP">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="dns-prefetch" href="//module.bindsite.jp">
<link rel="dns-prefetch" href="//webfont-pub.weblife.me">
<link rel="dns-prefetch" href="//sync5-res.digitalstage.jp">
<link rel="dns-prefetch" href="//sync5-cnsl.digitalstage.jp">
<meta name="robots" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="波佐見焼窯元、重山陶器公式HP。毎日の食卓に彩りを添える食器、お皿、豆皿、お茶碗、マグカップ、ポット、カップなど人気の商品をご紹介します。">
<meta property="og:title" content="HOME 波佐見焼重山陶器株式会社">
<meta property="og:type" content="website">
<meta property="og:image" content="http://jyuzan.jp/bdflashinfo/thumbnail.png">
<meta property="og:url" content="http://jyuzan.jp/index.html">
<meta property="og:site_name" content="HOME 重山陶器 株式会社">
<meta property="og:description" content="波佐見焼窯元、重山陶器公式HP。毎日の食卓に彩りを添える食器、お皿、豆皿、お茶碗、マグカップ、ポット、カップなど人気の商品をご紹介します。">
<link rel="canonical" href="http://jyuzan.jp/index.html">
<title>HOME 波佐見焼重山陶器株式会社</title>
<link rel="shortcut icon" href="_src/6486/favicon_20200427130653346.ico">
<link rel="stylesheet" type="text/css" href="_module/styles/bind.css?v=12.0.5" id="bind-css">
<link rel="stylesheet" type="text/css" href="_dress/pp013a/base.css?1621045738593">
<link rel="stylesheet" type="text/css" href="_dress/pp013profile/base.css?1621045738593">
<link rel="stylesheet" type="text/css" href="_dress/pp013access/base.css?1621045738593">
<link rel="stylesheet" type="text/css" href="_dress/black/base.css?1621045738593">
<link rel="stylesheet" type="text/css" href="index.css?1621045738595c0100" id="page-css">
<link rel="stylesheet" type="text/css" href="_webfonts.css?1621045738600" id="webfont-css">
</head>
<body id="l-1" class="l-1 -dress_pp013a" data-type="responsive" data-fontplus="1" data-page-animation="none">

<div id="page" class="bg-window ">
<div class="bg-document">
<noscript>
<div id="js-off">
<img src="_module/images/noscript.gif" alt="Enable JavaScript in your browser. このウェブサイトはJavaScriptをオンにしてご覧下さい。">
</div>
</noscript>
<div id="a-header" data-float="false" class="a-header  ">
<header>
<div class="site_frame">
<section>
<div id="bk1162" class="b-both_diff -right_large c-sp-space_init cssskin-_block_header" data-bk-id="bk1162" data-shared="true" data-sharedname="_ヘッダ">
<div class=" g-column">
<div class=" column -col4">
<div class="c-none">
 &nbsp;
<div class="c-img   ">
<img src="_src/1207/id.png?v=1600746135705" alt="重山陶器株式会社ロゴ" id="imgsrc1207_1">
</div>
</div>
</div>
<div class=" column -col8">
<nav>
<div id="js-globalNavigation" data-slide-type="rightSlide" data-btn-position="rightTop">
<div class=" -menu_right">
<ul class="c-menu -menu_a menu-parts">
<li><a href="index.html" data-mypid="84" class=" c-current">HOME</a></li>
<li><a href="https://jyuzan.buyshop.jp">STORE</a></li>
<li><a href="contact.html" data-pid="86" class="なし">CONTACT</a></li>
<li><a href="company.html" data-pid="85" class="なし">ABOUT</a></li>
<li><a href="index.html#access" data-mypid="84" class="なし js-link_scroller">ACCESS</a></li>
</ul>
</div>
</div>
<div id="spNavigationTrigger" class=" c-sp_navigation_btn"></div>
</nav>
</div>
</div>
</div>
</section>
</div>
</header>
</div>
<div id="a-billboard" class="a-billboard    cssskin-_area_billboard">
<div class="site_frame">
<section>
<div id="bk1163" class="b-both_diff -right_large -sp-single_column c-sp-space_normal c-sp-padding_normal cssskin-_block_b-both_diff_left" data-bk-id="bk1163">
<div class=" g-column">
<div class=" column -col4">
<p class="c-lead"><span style="color:#1a3168;" data-sitecolor-text="">　重山陶器株式会社</span></p>
</div>
<div class=" column -col8">
<h2 class=" c-title">　　　&nbsp;</h2>
<h3 class=" c-large_headline c-left"><span class=" d-larger_font"><span style="color:#ffffff;" data-sitecolor-text="" class=" d-ming">身近にイイモノ</span><span style="color:#ffffff;" class=" d-ming">波佐見焼</span></span><br><span style="color:#ffffff;" data-sitecolor-text="" class=" d-ming">&nbsp;　　いただきますの幸せな毎日。</span><br><span style="color:#ffffff;" class=" d-ming">　　そんな食卓を彩る器づくり。</span></h3>
</div>
</div>
</div>
<div id="bk1200" class="b-headlines c-sp-space_init init-block_animation" data-bk-id="bk1200" data-animated="fadeInDown">
<div class=" g-column -col2 -sp-col1 -no_spacing">
<div class=" column -column1">
<h3 class=" c-large_headline">ABOUT US</h3>
<p class="c-lead">会社概要</p>
<div class="c-none c-right">
<a href="company.html" data-pid="85" class="arrow-right">MORE　<img src="_src/1203/right-arrow.png?v=1600746135705" alt="LinkIcon"></a>
</div>
</div>
<div class=" column -column2 -column-lasts">
<p class=" c-body">重山陶器では親しみやすさが人気のロングセラー「芽生」をはじめ、古染付など波佐見焼の伝統を受け継いだ古典文様の器や、食卓に楽しさをもたらすユニークなキャラクター商品まで、充実したスタッフがアイデアとノウハウをベースに機能とデザインを総合的に研究したオリジナル商品を開発。消費者のニーズに応じ、個性的で豊かな表情をもつ器を提供してまいります。</p>
</div>
</div>
</div>
</section>
</div>
</div>
<main>
<div id="a-site_contents" class="a-site_contents  noskin">
<article>
<div class="site_frame">
<div class="g-column">
<div id="a-main" class="a-main column -col12 ">
<section>
<div id="bk1164" class="b-plain -dress_black cssskin-_block_main" data-bk-id="bk1164">
<div class=" column -column1">
</div>
</div>
<div id="bk1192" class="b-album c-space_wide c-sp-space_normal cssskin-_block_main init-block_animation" data-bk-id="bk1192" data-animated="fadeInLeft">
<div class=" g-column -col3 -sp-col1 -no_spacing">
<div class=" column -column1">
<div class="c-none">
 what's new
</div>
<p class="c-enclosure">新着情報</p>
<h4 class=" c-small_headline">&nbsp;</h4>
<h3 class=" c-large_headline">&nbsp;HPアクセス障害</h3>
<p class=" c-body">&nbsp;2021.05.16<br>&nbsp;サーバーの障害のためHPへアクセス出来ませんでしたが、本日解消しました。<br>ご迷惑をお掛けして大変申し訳ありませんでした。</p>
<div class=" c-body c-center">
 &nbsp;
</div>
</div>
<div class=" column -column2">
<div class="c-none">
 &nbsp;
</div>
<p class="c-enclosure">Web Store</p>
<h3 class=" c-large_headline"><span class=" webfont2">窯元直販サイト</span></h3>
<h4 class=" c-small_headline"><a href="https://jyuzan.buyshop.jp">ショップはこちら &gt;&gt;</a></h4>
<div class=" c-photo">
 &nbsp;
<br>&nbsp;
<br>
<div class="c-img   ">
<a href="https://jyuzan.buyshop.jp"><img src="_src/1209/_dsc2796.jpg?v=1600746135705" alt="重山陶器　プレート" id="imgsrc1209_1" class=" c-no_adjust"></a>
</div>
</div>
</div>
<div class=" column -column3 -column-lasts">
<div class="c-none">
 &nbsp;
</div>
<p class="c-enclosure">SNS</p>
<h3 class=" c-large_headline"><span class=" webfont2">最新情報を発信中</span></h3>
<h4 class=" c-small_headline"><a href="https://www.instagram.com/jyuzan.jp/">instagram</a>
<div class="c-img   ">
<a href="https://www.instagram.com/jyuzan.jp/"><img src="_src/1211/juzan_in.jpg?v=1600746135705" alt="" id="imgsrc1211_1" class=" c-no_adjust"></a>
</div></h4>
<p class=" c-body"><span class="js-sync -likebox" style="display:none;">,facebook,,{"facebookPageUrl":"https://www.facebook.com/重山陶器株式会社-1558018097769865/","boxHeight":"310","boxWidth":"80","dispFace":false,"dispUpdate":true,"dispHeader":true,"wUnit":"%","hUnit":"px"}
<!-- SYNC --></span></p>
<div id="fb-root"></div>
<!-- SYNC -->
<p></p>
</div>
</div>
</div>
<div id="bk1205" class="b-plain cssskin-_block_main" data-bk-id="bk1205" data-shared="true" data-sharedname="_余白">
<div class=" column -column1">
</div>
</div>
<div id="bk1207" class="b-headlines -bg-sp-stretch c-space_wide c-sp-space_normal -dress_pp013profile cssskin-_block_recruit init-block_animation" data-bk-id="bk1207" data-animated="fadeInRight">
<div class=" g-column -col2 -sp-col1 -no_spacing">
<div class=" column -column1">
<h3 class=" c-large_headline">&nbsp;ACCESS</h3>
<p class="c-lead">アクセス</p>
<div class="c-none c-right">
<a href="access.html" data-pid="87" class="arrow-right">MORE　<img src="_src/1180/right-arrow.png?v=1600746135705" alt="LinkIcon"></a>
</div>
</div>
<div class=" column -column2 -column-lasts">
<p class=" c-body">波佐見町は、九州の北西部にあり400年の歴史をもつ町です。<br>自然豊かな山や川に囲まれた小さな陶芸の郷は、今オシャレな町に変わりつつあります。地元では皆様にご満足いただけるような町づくりに日々頑張っておりますので、ぜひ一度波佐見町の活気溢れる空気やあったかい人たちに触れてみてください。</p>
</div>
</div>
</div>
<div id="bk1217" class="b-plain c-sp-space_init -dress_pp013access cssskin-_block_main" data-bk-id="bk1217" data-shared="true" data-sharedname="_アクセス">
<div class=" g-column -col2 -sp-col1" id="access">
<div class=" column -column1">
<div class="c-none">
<span class="js-sync -gmap" style="display:none;">,cdbb7125-3ca1-4fc5-beda-aaf3fcf93fff,,{"tempId":"gdefault","gmapWidth":"100","gmapWidthUnit":"%","gmapHeight":"450","gmapHeightUnit":"px","gmapZoomLevel":15,"gmapScrollWheel":true}</span>
</div>
</div>
<div class=" column -column2 -column-lasts">
<h3 class=" c-large_headline">ACCESS</h3>
<p class="c-lead"><span class=" d-gothic">アクセス</span></p>
<h4 class=" c-small_headline"><span class=" d-ming">重山陶器　株式会社</span></h4>
<p class=" c-body"><span class=" d-large_font d-ming">長崎県東彼杵郡波佐見町井石郷2150</span><br><span class=" d-large_font d-ming">TEL:0956-85-5000</span><br><span class=" d-large_font d-ming">○波佐見・有田インターより車で5分</span><br><span class=" d-large_font d-ming">○嬉野インターより車で10分</span><br>&nbsp;<br><span class=" d-large_font d-ming">○JR有田駅より車で約10分</span><br><span class=" d-large_font d-ming">○JR三河内駅よりバスで約15分</span><br><span class=" d-large_font d-ming">○JR川棚駅よりバスで約20分</span></p>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</article>
</div>
</main>
<div id="a-footer" data-float="false" class="a-footer   cssskin-_area_footer">
<footer>
<div class="site_frame">
<div id="bk1167" class="b-plain c-space_normal c-sp-space_normal c-sp-padding_normal cssskin-_block_footer" data-bk-id="bk1167" data-shared="true" data-sharedname="_フッタ_タイトル">
<div class=" column -column1">
<table class="c-list_news">
<tbody>
<tr>
<th> <h3 class=" c-large_headline"><span style="color:#ffffff;" class=" d-small_font">CONTACT</span></h3> </th>
<td> <p> </p><p class="c-lead"><span class=" d-small_font"><span style="color:#ffffff;">お問い合わせ</span>&nbsp;</span></p> <p></p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div id="bk1193" class="b-plain c-space_narrow c-sp-space_normal c-sp-padding_normal cssskin-_block_footer" data-bk-id="bk1193" data-shared="true" data-sharedname="_フッタ_コンテンツ">
<div class=" g-column -col2 -sp-col1">
<div class=" column -column1">
<p class="c-lead">&nbsp;</p>
<p class=" c-body"><span class=" d-large_font">こちらのフォームよりお気軽にお問い合わせください！！</span><br>　</p>
<div class="c-none">
<a href="contact.html" data-pid="86" class="arrow-right_white">お問い合わせ　<img src="_src/1202/arrow_right_gray.png?v=1600746135705" alt="LinkIcon"></a>
</div>
</div>
<div class=" column -column2 -column-lasts">
<p class=" c-body"><span class=" d-large_font">TEL.<a href="tel:0956855000">0956-85-5000</a></span><br><span class=" d-large_font">9:00～17:00（日曜・祝日休み）</span><br><span class=" d-large_font">長崎県東彼杵郡波佐見町井石郷2150</span></p>
</div>
</div>
</div>
<div id="bk1201" class="b-plain c-space_normal c-sp-space_normal c-sp-padding_normal cssskin-_block_footer" data-bk-id="bk1201" data-shared="true" data-sharedname="_フッタ_SNS">
<div class=" column -column1">
<ol class="c-list-numbers">
<li><a href="https://www.facebook.com/重山陶器株式会社-1558018097769865/"><span class="bindicon-facebook3"></span></a></li>
</ol>
<ol class="c-list-numbers">
<li><a href="https://www.instagram.com/jyuzan.jp/?hl=ja"><span class="bindicon-instagram2"></span></a></li>
</ol>
</div>
</div>
<div id="bk1208" class="b-plain c-space_normal c-sp-space_normal c-sp-padding_normal cssskin-_block_footer" data-bk-id="bk1208" data-shared="true" data-sharedname="_フッタ_コピーライト">
<div class=" column -column1">
<p class="c-credit">Copyright jyuzan ceramic company.co.,ltdAll Rights Reserved<a href="https://koringama.net">.</a></p>
</div>
</div>
</div>
</footer>
</div>
<div id="w-top-left" class="w-base w-top w-left">
</div>
<div id="w-top-right" class="w-base w-top w-right">
</div>
<div id="w-middle-left" class="w-base w-middle w-left">
</div>
<div id="w-middle-right" class="w-base w-middle w-right">
</div>
<div id="w-bottom-left" class="w-base w-bottom w-left">
</div>
<div id="w-bottom-right" class="w-base w-bottom w-right">
</div>
</div>
</div>
<script type="text/javascript">
<!--
var css_list = ['//fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic','_cssskin/_area_side_a.css','_cssskin/_area_billboard.css','_cssskin/_area_ghost_header.css','_cssskin/_area_main.css','_cssskin/_area_side_b.css','_cssskin/_area_footer.css','_cssskin/_block_footer.css','_cssskin/_block_header.css','_cssskin/_block_side_a.css','_cssskin/_block_side_b.css','_cssskin/_block_main.css','_cssskin/_block_recruit.css','_cssskin/_block_b-both_diff_left.css','_csslinkbtn/btn-import.css'];
var page_update = 1600746135705;
//-->
</script>
<script src="_module/lib/lib.js?v=12.0.5"></script>
<script src="_module/scripts/bind.js?v=12.0.5" id="script-js"></script>
<!--[if lt IE 9]><script src="_module/lib/html5shiv.min.js?v=12.0.5"></script><![endif]-->
<!-- custom_tags_start -->
<script type="text/javascript">
</script>
<!-- custom_tags_end -->
</body>
</html>